parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method App\\Http\\Resources\\ItemCollection\:\:currentPage\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Resources/ItemCollection.php

		-
			message: '#^Call to an undefined method App\\Http\\Resources\\ItemCollection\:\:lastPage\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Resources/ItemCollection.php

		-
			message: '#^Call to an undefined method App\\Http\\Resources\\ItemCollection\:\:perPage\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Resources/ItemCollection.php

		-
			message: '#^Call to an undefined method App\\Http\\Resources\\ItemCollection\:\:total\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Resources/ItemCollection.php
