includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/spaze/phpstan-disallowed-calls/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - app
    disallowedMethodCalls:
        - method: Illuminate\Database\Eloquent\Model::save
          message: "❌ 禁止在 Controller 內直接使用 save()。"
          disallowIn:
            - app/Http/Controllers/*

        - method: Illuminate\Database\Eloquent\Model::update
          message: "❌ 禁止在 Controller 內直接使用 update()。"
          disallowIn:
            - app/Http/Controllers/*

        - method: Illuminate\Database\Eloquent\Model::delete
          message: "❌ 禁止在 Controller 內直接使用 delete()。"
          disallowIn:
            - app/Http/Controllers/*

        - method: Illuminate\Database\Eloquent\Builder::where
          message: "❌ 禁止在 Controller 內直接使用 where()。"
          disallowIn:
            - app/Http/Controllers/*

        - method: Illuminate\Database\Eloquent\Builder::find
          message: "❌ 禁止在 Controller 內直接使用 find()。"
          disallowIn:
            - app/Http/Controllers/*

        - method: Illuminate\Database\Eloquent\Builder::first
          message: "❌ 禁止在 Controller 內直接使用 first()。"
          disallowIn:
            - app/Http/Controllers/*

        - method: Illuminate\Database\Eloquent\Builder::get
          message: "❌ 禁止在 Controller 內直接使用 get()。"
          disallowIn:
            - app/Http/Controllers/*

    disallowedStaticCalls:
        - method: Illuminate\Database\Eloquent\Builder::create
          message: "❌ 禁止在 Controller 內直接使用 create()。"
          disallowIn:
            - app/Http/Controllers/*
